/* horizontal scroll adapted from https://uxdesign.cc/creating-horizontal-scrolling-containers-the-right-way-css-grid-c256f64fc585*/
/*Any direct children of .app will be ‘containerized’ with a 20px gap on both ends keeping the content off the edges. If a child is equipped with a class of .full, it will span across the entire viewport without any padding on the side (aka. full bleed).*/

:root {
  --gutter: 20px;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  justify-content: center;
  margin: 0;
}

h1 {
  margin-top: 50px;
}

ul {
  list-style: none;
  padding: 0;
}

.app {
  align-content: start;
  display: grid;
  grid-gap: var(--gutter) 0;
  grid-template-columns: var(--gutter) 1fr var(--gutter);
  
  background-color: white;
  overflow-y: hidden;
  height: 800px;
  width: 90%;
}

.app > * {
  grid-column: 2 / -2;
}

.app > .full {
  grid-column: 1 / -1;
}

.hs {
  display: grid;
  grid-gap: calc(var(--gutter) / 2);
  grid-template-columns: 10px repeat(12, calc(40% - var(--gutter) * 2)) 10px;
  grid-template-rows: minmax(150px, 1fr);
  height: 400px;
  overflow-x: scroll;
  scroll-snap-type: x proximity;
  padding-bottom: calc(.75 * var(--gutter));
  margin-bottom: calc(-.5 * var(--gutter));
}

.hs::before,
.hs::after {
  content: '';
}

.hs > li,
.item {
  scroll-snap-align: center;
  padding: calc(var(--gutter) / 2 * 1.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}


#art-collector {
	padding: 100px 0 0 200px;
	position: relative;
}

#art-collector-body {
	height: 300px;
	position: absolute;

}

#art-collector-body.active {
    -webkit-animation: body-waddle 2s infinite;
   animation: body-waddle 2s infinite;
}

#art-collector-hair {
	height: 225px;
	left: 225px;
	position: absolute;
	top: 40px;

}

#art-collector-hair.active {
    -webkit-animation: hair-waddle 2s infinite;
   animation: hair-waddle 2s infinite;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff00c3; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5eff00; 
}

.painting {
  background-size: contain;
  background-repeat: no-repeat;
  height: 350px;
  width: 300px;
}

.painting-enlarged {
  height: 800px;
  width: 750px;
}

#painting1 {
  background-image: url("images/frame1.png");
}

.item-info {
  align-items: center;
  background-image: url("images/placard.png");
  background-size: contain;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  font-size: 20px;
  height: 170px;
  justify-content: center;
  padding: 10px;
  text-align: center;
  width: 150px;
}

.modal-content {
  width: 800px;
}




@keyframes body-waddle {
   0%  {transform: rotate(2deg);}
   50%  {transform: rotate(-2deg);}
   100% {transform: rotate(2deg);}
}

@keyframes hair-waddle {
	0%  {transform: rotate(-2deg);}
   50%  {transform: rotate(2deg);}
   100% {transform: rotate(-2deg);}
}